@charset "utf-8";
#slider{width: 100%; height: auto; margin: 0 auto; position: relative;}
#slider video{min-width: 100%; min-height: 615px; top: 0; left: 0; margin: 0 auto;}
#slider .container{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 450px;}
#slider .container span{color: #ff0000; font-size: 20px;}
#slider .container h1{color: #fff; font-size: 70px; padding-bottom: 10px;}
#slider .container p{color: #fff; font-size: 20px; padding: 10px 0;}
#slider .container button{width: 265px; height: 45px; background-color: #ff0000; color: #fff; border: none; font-size: 16px; font-weight: bold; margin-top: 20px;}
#slider .container button:hover{background-color: #000; cursor: pointer;}

section{width: 100%; height: auto; background-color: gold; margin: 0 auto;}
section .box1{width: 48%; height: 570px; float: left; position: relative; }
section .box1 img:nth-of-type(1){width: 300px; position: absolute; top: 0; left: 0;}
section .box1 img:nth-of-type(2){width: 300px; position: absolute; right: 0; bottom: 0;}
section .industry{width: 50%; height: 560px; float: right;  padding: 20px; position: relative;}
section>.container>.industry>p:first-child{color: #ff0000; font-weight: bold;}
section .container .industry h1{font-size: 60px;}
section .container .industry p{color: #666; font-size: 18px;}
section .container .experience{width: 156px; height: 197px; background-color: #ff0000; padding: 15px 10px; margin: 20px 0;}
section .container .experience h1{font-size: 72px;}
section .container .experience h5{font-size: 20px; color: #fff; padding: 0 10px;}
section .container .list{width: 200px; height: 185px; padding: 10px; position: absolute; right: 40%; top: 34.5%;}
section .container .list p{padding: 5px;}
section .container .list p i{color: #ff0000;}
section .container .inquiry{width: 560px; height: 65px; display: flex; flex-wrap: wrap;}
section .container .inquiry .message{width: 280px; height: 65px; padding: 7px; display: flex; flex-direction: row;}
section .container .inquiry .voice{width: 280px; height: 65px; padding: 7px; display: flex; flex-direction: row;}
section .container .circle{width: 50px; height: 50px; border-radius: 50%; background-color: #ff0000; padding: 16px;}
section .container .circle i{color: #fff;}
section .container .text{padding: 0 20px;}
section .container .text h5{font-size: 18px;}

section .about{clear: both; width: 100%; height: 375px; background-color: #000; display: flex; justify-content: space-around; align-items: center;}
section .about .box2{width: 22%; height: 278px; border: 1px solid #fff; text-align: center;}
section .about .box2 i{font-size: 120px; padding: 40px 0; color: #fff;}
section .about .box2 i:hover{cursor: pointer; color: #ff0000;}
section .about .box2 h5 a{font-size: 20px; color: #fff;}

section .container .box3{width: 45%; height: 700px; float: left; position: relative;}
section .container .box3 img{width: 100%; height: 700px;}
section .container .box3 .bottonbox{width: 120px; height: 120px; background-color: #fff; border: none; border-radius: 50%; position: absolute; right: -60px; top: 50%; transform: translateY(-50%);}
section .container .box3 button{width: 60px; height: 60px; background-color: #ff0000; border: none; border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
section .container .box3 button:hover{cursor: pointer;}
section .container .box3 i{color: #fff; font-size: 20px; padding: 10px;}

section .container .choosing{width: 50%; height: 700px; float: right;}
section>.container>.choosing>p:first-child{color: #ff0000; font-weight: bold;}
section .container .choosing h1{font-size: 60px;}
section .container .choosing p{color: #666; font-size: 18px; margin: 10px 0;}
section .container .reason{display: flex; flex-wrap: wrap;}
section .container .reason .check{width: 50px; height: 50px; background-color: red; border: none; border-radius: 50px; padding: 17px; float: left;}
section .container .reason .check i{color: #fff;}
section .container .reason h4{font-size: 24px; margin: 10px; width: 89%;}
section .container .reason p{width: 93%;}

section .container .product{width: 1296px; height: 100%;}
section .container .product p{color: #ff0000; font-size: 18px; font-weight: bold; text-align: center;}
section .container .product h1{font-size: 60px; text-align: center; padding: 10px 0 20px 0;}
section .container .box-wrap{width: 1296px; height: 546px;}
section .container .box-wrap .box{width: 30%; height: 546px; display: flex; flex-wrap: wrap; float: left; margin: 0 1.5%; position: relative; bottom: 0;}
section .container .box-wrap .box >img{width: 106px; height: 106px; position: absolute; top: 10%; left: 36%; z-index: 3; box-shadow: 0 0 45px rgba(0, 0, 0, 9%);}
section .container .box-wrap .box .item{width: 100%; height: 407px; background-color: #fff; position: absolute; bottom: 5%; display: flex; flex-direction: column; justify-content: center; align-items: center; box-shadow: 0 0 45px rgba(0, 0, 0, 9%); overflow: hidden;}
section .container .box-wrap .box .item >img{width: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
section .container .box-wrap .box .item_title{width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; position: absolute; top: 0; background-color: white; transition: 1s all ease;} 
section .container .box-wrap .box .item h3{text-align: center;  font-size: 30px; padding: 15px;}
section .container .box-wrap .box .item hr{width: 30%;}
section .container .box-wrap .box .item .hovertext{width: 100%; height: 100%; position: absolute; bottom: -100%; padding: 20px; transition: 1s all ease; background: rgba(0, 0, 0, 0.6)}
section .container .box-wrap .box .item .hovertext::before{content: ''; width: 100%; height: 100px; position: absolute; top: -50px; left: 0; transform: skewY(-12deg); background-color: white;}
/* section .container .box-wrap .box .item .hovertext::after{content: ''; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); position: absolute; top: 0; left: 0;} */
section .container .box-wrap .box .item .hovertext p{color: #fff; width: 90%; height: 30px; position: absolute; top: 50%; left: 50%;  z-index:5; transform: translate(-50%,-50%); font-weight: normal;}
section .container .box-wrap .box .item:hover .item_title{top: -100%;}
section .container .box-wrap .box .item:hover .hovertext{bottom: 0;}
section .container .box-wrap .box button{width: 130px; height: 50px; position: absolute; bottom: 0; left: 32.5%; background-color: #fff; color: #666; border: none; box-shadow: 0 0 45px rgba(0, 0, 0, 9%); font-size: 17px;}
section .container .box-wrap .box button:hover{cursor: pointer; background-color: #ff0000; color: #fff;}

section .brand{width: 100%; height: auto; background-color: #000; padding: 100px 0 0 0;}
section .brand p{color: #ff0000; font-size: 18px; font-weight: bold; text-align: center; padding: 10px 0;}
section .brand h1{color: #fff; font-size: 60px; text-align: center;}
section .brand .branditem{width: 100%; height: auto; display: flex; margin: 50px 0 0 0;}
section .brand .branditem a{width: 20%; height: 317px; position: relative; overflow: hidden;}
section .brand .branditem a:hover .brandname{bottom: 0;}
section .brand .branditem img{width: 100%;}
section .brand .brandname{width: 100%; height: 80px; background-color: #000; position: absolute; bottom: -106px; transition: all 1s ease; padding: 15px;}
section .brand .brandname::before{content: ''; width: 100%; height: 30px; position: absolute; top: -13px; left: 0; transform: skewY(-4deg); background-color: #000;}
section .brand .brandname p{font-size: 24px;}

section .container .team{width: 100%; height: auto;}
section>.container>.team>p{color: #ff0000; font-size: 18px; font-weight: bold; text-align: center; padding: 20px 0 10px 0;}
section .container .team h1{font-size: 60px; text-align: center;}
section .container .team .teammember{width: 100%; height: 502px; display: flex; flex-wrap: wrap; margin: 30px 0;}
section .container .team .teammember>div:hover .iconhover{left: 27%;}
section .container .team .teammember .executives1{width: 30%; height: 502px; float: left; margin: 0 2.5% 0 0; display: flex; flex-wrap: wrap; overflow: hidden;}
section .container .team .teammember .executives2{width: 30%; height: 502px; float: left; margin: 0 2.5%; display: flex; flex-wrap: wrap;  overflow: hidden;}
section .container .team .teammember .executives3{width: 30%; height: 502px; float: left; margin: 0 0 0 2.5%; display: flex; flex-wrap: wrap;  overflow: hidden;}
section .container .team .teammember img{width: 100%; height: 80%;}
section .container .team .teammember .info{width: 100%; height: 20%; background-color: #ddd; display: flex; flex-flow: column wrap; justify-content: flex-start; align-content: flex-start; position: relative;}
section .container .team .teammember .info .icon{width: 27%; height: 100%; background-color: #ff0000; padding: 20px; position: relative; z-index: 5;}
section .container .team .teammember .info .icon i{font-size: 60px; color: #fff;}
section .container .team .teammember .iconhover{width: 284px; height: 100%; background-color: #ff0000; position: absolute; top: auto; bottom: 0; left: -100%;  right: 0; transition: 1s all ease; display: flex; justify-content: flex-start; align-items: center;}
/* section .container .team .teammember .info .icon .iconhover::before{content: ''; width: 100%; height: 100%; position: absolute; background-color: #ff0000; bottom: 0; left: -10px;} */
section .container .team .teammember .iconhover .sns{width: 50px; height: 50px; background-color: #000; border-radius: 50px; padding: 15px;  margin: 0 5px; display: flex; justify-content: center; align-items: center;}
section .container .team .teammember .iconhover .sns i{color: #fff; font-size: 20px;}
section .container .team .teammember .iconhover .sns i:hover{cursor: pointer;}
section .container .team .teammember .info h5{font-size: 22px; padding: 20px 0 10px 20px;}
section .container .team .teammember .info p{color: #ff0000; font-size: 18px; padding: 0 0 0 20px;}

section .container .testimonial{width: 100%; height: auto; background-color: lightblue;}
section>.container>.testimonial>p{color: #ff0000; font-size: 18px; font-weight: bold; text-align: center;}
section .container .testimonial h1{font-size: 60px; text-align: center;}
section .container .testimonial .reviewwrap{width: 100%; height: auto; background-color: lightcoral;}
section .container .testimonial .reviewwrap .review{width: 468px; height: auto; background-color: lightcyan; margin: 0 auto;}
section .container .testimonial .reviewwrap .review .client{width: 100px; height: 100px; background-color: lightgoldenrodyellow; border-radius: 50px; margin: 0 auto;}
section .container .testimonial .reviewwrap .review .client img{width: 100px; height: 100px; border-radius: 50px;}
section .container .testimonial .reviewwrap .review .talk{width: 38px; height: 38px; background-color: #ff0000; border-radius: 50px; margin: -1% 46% 0 46%; padding: 9px;}
section .container .testimonial .reviewwrap .review .talk i{color: #fff; font-size: 22px;}
section .container .testimonial .reviewwrap .review .comment{width: 468px; height: auto; background-color: lightgray; text-align: center; padding: 30px; box-shadow: 0 0 45px rgb(0 , 0, 0 / 8%);}
section .section .container .testimonial .reviewwrap .review .comment p{color: #333;}
section .container .testimonial .reviewwrap .review .comment h5{font-weight: bold; font-size: 22px; padding: 5px;}